<div class="product-cards-container">
    <% for (let product in locals.products) { %>

    <% let productData = locals.products[product] %>
    <a href="<%= `product/${product}` %>">
        <div class="product-card">
            <div class="preview">
                <img src="<%= productData["preview_img"] %>" alt="<%= `${productData["display_name"]} Preview Image #1` %>">
                <img class="hover-img" src="<%= productData["hover_preview_img"] %>" alt="<%= `${productData["display_name"]} Preview Image #2` %>">
            </div>
            <div class="name">
                <%= productData["display_name"] %>
            </div>
            <div class="price">
                <%= `$${(productData["price"]).toFixed(2)} USD` %>
            </div>
        </div>
    </a>

    <% } %>
</div>