<div class="product">
    <div class="product-preview">
        <div class="focus-img">
            <div class="all-imgs">
                <% locals.images.forEach((image, index) => { %>
                <img src="<%= `/product-images/${locals.uri}/${image}` %>" alt="<%= `Focus Image ${index + 1}` %>">
                <% }) %>
            </div>
            <div class="img-dots">
                <% for (let i=0; i < locals.images.length; i++) {%>
                <span class="dot">Sth</span>
                <% } %>
            </div>
        </div>
        <div class="all-selector-imgs">
            <% locals.images.forEach((image, index) => { %>
            <img src="<%= `/product-images/${locals.uri}/${image}` %>" alt="<%= `Preview Image ${index + 1}` %>">
            <% }) %>
        </div>
    </div>
    <div class="product-details">
        <h1 class="name">
            <%= locals.display_name %>
        </h1>
        <h2 class="price">
            <%= `$${locals.price.toFixed(2)} USD` %>
        </h2>
        <p class="description">
            <%= locals.description %>
        </p>
        <button type="button" class="call-to-action">
            <% if (locals.price > 0) { %>
            Buy Now!
            <% } else { %>
            Claim for Free!
            <% } %>
        </button>
    </div>
</div>

<script src="/script.js" defer></script>